<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
    <header>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard" class="greenlinks">dashboard</a>
        <a href="/" class="greenlinks">Home</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
         <a href="/dashboard" class="greenlinks">dashboard</a>
        <a href="/" class="greenlinks">Home</a>
        <a href="/login">login</a>
        {{/if}}
      </nav>
      <h1 id="theTechBlog">
        <a href="/" class="homelink">The Tech Blog</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
   {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html>