<section class="login-form">
  <div class="title" id="createPostHeader">
    <h2>Create New Post</h2>
  </div>
  <form class="new-post-form">
    <div class="input-labels"> 
      <div>
        <label for="post-title">Title:</label>
      </div>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="input-labels">
      <div>
          <label for="post-content"></label>
      </div>
      <textarea id="post-content" name="post-content" >
      </textarea>
    </div>
    <button type="submit" class="btn" id="createPostSubBtn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>