<form class="login-form">
    <div class="title" id="loginHeader">
    <h2 id="titleHeader">Login</h2>
    </div>
    <div class="login-inputs">
        <div class="input-labels">
            <label for="email-login">username:</label>
        </div>
        <input type="text" id="email-login" />
    </div>

    <div class="login-inputs">
        <div class="input-labels">
            <label for="password-login">password:</label>
        </div>
        <input type="password" id="password-login" />
    </div>

    <div class="login-inputs">
        <button type="submit" id="loginBtn">login</button>
    </div>
</form>

<button class="btn" id="signupLinkBtn">Signup</button>


<script src="./javascript/login.js"></script>
{{!-- <script src="./javascript/signup.js"></script> --}}