* {
    box-sizing: border-box;
}  

nav {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}
  
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(161, 189, 167);
  color: rgb(0, 0, 0);
}

header {
  background-color: black;
  display: grid;
}

a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-weight: bold;
  transition: color .1s;
  margin-top: 3%;
}

.greenlinks {
  color: white;
  /* padding: 1%; */
}

a:hover {
  color: rgb(32, 110, 49);
}

h1 {
  background-color: rgb(161, 189, 167);
  border-radius: 8px;
  width: fit-content;
  padding: 8px 15px;
  box-shadow: 8px 8px grey;
}

h2 {
  font-size: large;
}

button {
  background-color: #000000;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2%;
}

button:hover {
  background-color:rgb(32, 110, 49);
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid rgb(32, 110, 49);;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

.post {
  border: 3px solid black;
  margin: 10px;
}

.title {
  background-color: black;
  color: rgb(228, 228, 228);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 3%;
}

.homelink {
  color: #000000;
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  text-align: center;         
}

#loginBtn {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#createNewPostBtn {
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 5%;
}

main {
  display: grid;
}

ol {
  list-style: none;
  padding-left: 1.8em;
}

#loginHeader {
 justify-content: flex-start;
}

.login-form, .signup-form {
  border: 3px solid black;
  margin: 10%;
  margin-bottom: 2%;
  justify-content: space-around;
}

#titleHeader {
  margin-left: 5%;
}

#email-login {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#password-login {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.login-inputs {
  display: grid;
}

.input-labels {
  display: block;
  margin-left: 3%;
}

#signupLinkBtn {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#username-signup {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#password-signup {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#signupBtn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#signupBtn {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#post-ttile {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#post-content {
  width: 95%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#createPostSubBtn {
  width: 92%;
  margin-left: 3%;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#editPostTextbx {
  width: 95%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#saveEditbtn {
  width: 92%;
  margin-left: 3%;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#deleteEditbtn {
  width: 92%;
  margin-left: 3%;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#theTechBlog {
  margin-left: 3%;
}
/* #createPostHeader {

} */


/* .signup-form {
  border: 3px solid black;
  margin: 10%;
  margin-bottom: 2%;
  justify-content: space-around;
} */

